.add-favorite {
	display  : inline-block;
	z-index  : 100;
	position : absolute;
	border   : none;
	right    : 25px;
	top      : 10px;
	cursor   : pointer;

	svg {
		fill: rgba(0, 0, 0, 0.2);
		stroke: #fff;
	}

	&.add-success svg {
		fill   : #ed6639;
		stroke : #ed6639;
	}
}

.add-emotion {
	display  : inline-block;
	z-index  : 100;
	position : absolute;
	border   : none;
	right    : 15px;
	bottom      : 10px;
	cursor   : pointer;
}

.card-layout {
	cursor           : pointer;
	display          : block;
	height: 440px;
	position : relative;
}

.card-thumbnail {
	position : relative;
	padding: 20px;

	.project-intro {
		display: none;
	}

	&:hover {
		&:before {
			content:'';
			display: inline-block;
			position : absolute;
			background-image: linear-gradient(130deg, #1c3d46, #1a2133);
			width: 100%;
			height: 100%;
			padding: 20px;
			left: 0;
			top: 0;
			opacity: .9;
		}

		.project-intro {
			display: inline-block;
			position : absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			padding: 20px;
			color: #fff;

			.project-title {
				position : absolute;
				bottom: 20px;
				right: 20px;
				color: #45adca;
			}
		}
	}

	img {
		width :100%;
	}
}

.card-info {
	width : 100%;
	padding-top: 20px;
	color: #4a4a4a;

	.star-score {
		float : right;
		color: #3b75ff;
	}

	i {
		font-size: 16px;
		color: #3b75ff;
	}
}

.class .card-content {
	min-height: 140px;
}

.card-content {
	position: relative;
	color: #3b4752;
}

.swiper-container {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 100px;
}

.swiper-slide {
	width: 10%;
	height: 50px;
}

.swiper-wrapper {
	overflow : hidden;
}

.float {
	border-radius: 2px;
	background-color: #ffffff;
	box-shadow: 0 2px 10px 0 #8fbffd;
	border-style: solid;
	border-width: 1px;
	border-image-source: linear-gradient(130deg, #5adeff, #779dff);
	border-image-slice: 1;
}

.layout-home {
	.thumbnail-wrapper img {
		border-image-source : linear-gradient(317deg, #88aaff, rgba(0, 199, 255, 0.82));
		border-image-slice  : 1;
	}

	.establish-user {
		display     : inline-block;
		margin-top  : 5px;
		margin-left : 10px;
	}
}

.layout-test {
	.header {
		display : none;
	}

	.page-container .page-content-wrapper .content {
		padding-top: 0;
	}

	.browser-navigation {
		background-color: #fff;
		width: 100%;
	}

	.task-intro {
		position : absolute;
		text-align : center;
		padding: 15% 0;
		width: 100%;
		height: 100%;
		left : 0;
		top: 0;
		transition: all .3s;
		z-index : 2;

		&:before {
			content: '';
			background-color: rgba(0, 0, 0, .8);
			display: inline-block;
			width: 100%;
			height : 100%;
			left : 0;
			top: 0;
			position : absolute;
		}

		h3,
		p {
			position : relative;
			z-index: 2;
		}

		&.start-test {
			opacity: 0;
			z-index: -1;

			&:before {
				content: none;
			}
		}
	}

	.feedback-row {
		position : absolute;
		bottom: 30px;
		left : 30px;
	}

	.feedback-text-content {
		display: none;
		bottom: 30px;
		left : 0;
		position : absolute;

		ul {
			padding-left: 0;
			list-style: none;
		}
	}

	.emoji {
		display: inline-block;

		label {
			opacity: .5;
			cursor: pointer;
			font-size: 20px;
			margin: 5px;

			i:hover {
				opacity: 1;
			}
		}

		input {
			display: none;

			&:checked + label {
				opacity: 1;
			}
		}

		&.with-dropdown:hover {
			.feedback-text-content {
				display: inline-block;
			}
		}
	}
}