@import url('https://fonts.googleapis.com/css?family=Montserrat');
.btn {
  border-radius: 4px;
  border: 2px solid #45adca;
  height: 52px;
  line-height: 52px;
  min-width: 120px;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
}
.btn-default {
  color: #45adca;
  background-color: transparent;
}
.btn-complete {
  background-image: linear-gradient(294deg, #88aaff, rgba(0, 199, 255, 0.82)) !important;
  opacity: .8;
}
.btn-complete:hover {
  opacity: 1;
}
/* Global Start */
body,
input,
button,
select,
textarea {
  font-family: 'Montserrat', sans-serif !important;
}
.add-favorite {
  display: inline-block;
  z-index: 100;
  position: absolute;
  border: none;
  right: 25px;
  top: 10px;
  cursor: pointer;
}
.add-favorite svg {
  fill: rgba(0, 0, 0, 0.2);
  stroke: #fff;
}
.add-favorite.add-success svg {
  fill: #ed6639;
  stroke: #ed6639;
}
.add-emotion {
  display: inline-block;
  z-index: 100;
  position: absolute;
  border: none;
  right: 15px;
  bottom: 10px;
  cursor: pointer;
}
.card-layout {
  cursor: pointer;
  display: block;
  height: 360px;
  position: relative;
}
.card-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  cursor: pointer;
  display: block;
  position: relative;
}
.card-info .star-score {
  position: absolute;
  right: 0;
}
.card-thumbnail {
  position: relative;
  padding: 20px;
}
.card-thumbnail .project-intro {
  display: none;
  z-index: 3;
}
.card-thumbnail:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-image: linear-gradient(130deg, #1c3d46, #1a2133);
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all .3s;
  z-index: 2;
}
.card-thumbnail:hover:before {
  opacity: .9;
}
.card-thumbnail:hover .project-intro {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  color: #fff;
}
.card-thumbnail:hover .project-intro .project-title {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #45adca;
  text-align: right;
}
.card-thumbnail img {
  width: 100%;
}
.card-info {
  width: 100%;
  padding-top: 20px;
  color: #4a4a4a;
}
.card-info .star-score {
  float: right;
  color: #3b75ff;
}
.card-info i {
  font-size: 16px;
  color: #3b75ff;
}
.class .card-content {
  min-height: 140px;
}
.card-content {
  position: relative;
  color: #3b4752;
}
.card-content h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.swiper-container {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 70px;
}
.swiper-slide {
  width: 10%;
  height: 50px;
  border-radius: 4px;
  text-align: center;
  padding-top: 15px;
  color: white;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
}
.swiper-wrapper {
  overflow: hidden;
}
.switchery {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  position: relative;
  vertical-align: middle;
  width: 50px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: content-box;
  background-clip: content-box;
}
/* Comment Card */
.sub-comments {
  margin-left: 66px;
}
.comment-card {
  margin-top: 50px;
  border: solid 1px #ddd;
  border-radius: 2px;
}
@media (max-width: 767px) {
  .comment-card {
    padding: 10px;
  }
}
.comment-card.history {
  margin-top: 10px;
}
.comment-card.history .card-inner .personal-info {
  height: 35px;
}
@media (max-width: 767px) {
  .comment-card.history .card-inner .personal-info {
    height: 50px;
  }
}
@media (max-width: 767px) {
  .comment-card.history .card-inner .personal-info .avatar {
    max-width: 36px;
  }
}
.comment-card.history .card-inner .personal-info .name {
  float: left;
}
.comment-card.history .card-inner .personal-info .ago {
  margin-left: 40px;
  float: left;
  padding-top: 8px;
}
.comment-card.history .card-inner .personal-info .add-favorite {
  position: inherit;
  top: inherit;
  right: inherit;
  float: left;
  margin: 6px 0 0 10px;
}
.comment-card.history .card-inner .personal-info .stars {
  float: right;
}
@media (max-width: 767px) {
  .comment-card.history .card-inner .personal-info .stars {
    float: none;
    display: block;
    margin: 15px 0 0 0;
  }
}
.comment-card.history .card-inner .content {
  padding: 10px 0 20px 63px;
  text-align: left;
  display: block;
  font-size: 16px;
}
@media (max-width: 767px) {
  .comment-card.history .card-inner .content {
    padding: 0;
  }
}
.comment-card .card-inner .personal-info {
  position: relative;
  padding-left: 52px;
  text-align: left;
}
.comment-card .card-inner .personal-info .avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  padding: 1px;
  border-radius: 100%;
  border: solid 1px #7badff;
}
.comment-card .card-inner .personal-info .name {
  font-size: 14px;
  display: block;
  text-align: left;
  margin: 0px 0 0 10px;
  padding-top: 8px;
}
@media (max-width: 767px) {
  .comment-card .card-inner .personal-info .name {
    margin-bottom: 30px;
  }
}
.comment-card .card-inner .personal-info .stars {
  display: inline-block;
}
@media (max-width: 767px) {
  .comment-card .card-inner .personal-info .stars {
    margin: 10px 0 10px -52px;
  }
}
.comment-card .card-inner .personal-info .stars i {
  font-size: 18px;
}
.comment-card .card-inner .personal-info .stars span {
  float: right;
  padding-left: 5px;
  line-height: 18px;
}
.comment-card .card-inner .comments {
  margin-left: 66px;
  margin-bottom: 10px;
}
.comment-card .card-inner .comments textarea {
  min-height: 100px;
}
.comment-card .card-inner .comments .submit {
  text-align: right;
}
.comment-card.comment {
  margin-top: 0;
}
.comment-card.comment.history {
  margin-top: 10px;
}
.comment-card.comment.history .card-inner .personal-info .cat-label {
  font-size: 12px;
  padding: 1px 8px;
  float: left;
  margin-right: 10px;
}
.comment-card.comment .sub {
  padding-left: 52px;
  margin-top: 20px;
  border-top: solid 1px #ddd;
  padding-top: 20px;
}
@media (max-width: 767px) {
  .comment-card.comment .sub {
    padding-left: 0;
  }
}
.comment-card.comment .sub .card-inner + .card-inner {
  margin-top: 20px;
}
.comment-card.comment .sub .card-inner + .comment-card {
  padding: 20px 0 0 0;
  margin-top: 20px;
  border-top: solid 1px #ddd;
}
.comment-card.comment .sub .card-inner + .comment-card .comments {
  padding-left: 46px;
}
.comment-card.comment .sub .card-inner .personal-info {
  height: 25px;
  padding-left: 46px;
}
.comment-card.comment .sub .card-inner .personal-info .avatar {
  max-width: 36px;
}
.comment-card.comment .sub .card-inner .content {
  padding-left: 46px;
}
.comment-card.comment .sub .comment-card {
  margin: 0px;
  padding: 0;
  border: none;
}
.comment-card.comment .card-inner .personal-info {
  height: 42px;
}
.comment-card.comment .card-inner .comments {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .comment-card.comment .card-inner .personal-info {
    height: 42px;
  }
  .comment-card.comment .card-inner .content {
    padding-left: 46px;
  }
  .comment-card.comment.history .card-inner .personal-info {
    height: 42px;
  }
  .comment-card.comment.history .card-inner .content {
    padding-left: 0;
    margin-top: 10px;
  }
  .comment-card.comment.history .sub .card-inner .personal-info {
    height: 36px;
  }
  .comment-card.comment.history .sub .card-inner .personal-info .avatar {
    max-width: 36px;
  }
  .comment-card.comment.history .sub .card-inner .content {
    padding-left: 46px;
    margin: 0;
  }
  .comment-card.comment.history .sub .comment-card .comments {
    padding-left: 0;
  }
}
.float {
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 #8fbffd;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(130deg, #5adeff, #779dff);
  border-image-slice: 1;
}
/* Global End */
.view-task .task-item .inner .task-des .start-test {
  float: right;
}
.view-task .task-item .inner .task-info .thumb-img {
  width: auto;
  height: 200px;
  display: block;
  margin: 0 auto;
}
.view-task .task-item .inner .project-info {
  padding: 30px 0;
  margin: 30px 0;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}
.view-task .task-item .inner .project-info .des {
  margin: 10px 0 20px 0;
}
.view-task .task-item .inner .project-info .tasks .task {
  margin-right: 5px;
  display: inline-block;
}
.view-task .task-item .inner .project-info .tasks .more {
  float: right;
  height: 32px;
  line-height: 32px;
}
.view-task .task-item .inner .project-info .tasks .more:before {
  padding-right: 10px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.view-task .task-item .inner .project-info .tasks .more:hover:before {
  padding-right: 15px;
}
.view-task.layout-result .task-item {
  margin-bottom: 100px;
}
.view-task.layout-result .task-item .controls {
  text-align: right;
}
.view-task.layout-result .task-item .controls .control {
  display: inline-block;
  margin-right: 10px;
}
.view-task.layout-result .task-item .controls .control.users {
  position: relative;
}
.view-task.layout-result .task-item .controls .control.users .round {
  border: solid 1px #ddd;
  padding: 5px;
  border-radius: 100%;
  font-size: 20px;
}
.view-task.layout-result .task-item .controls .control.users .user-list {
  position: absolute;
  top: 100%;
  background: #fff;
  z-index: 999;
  width: 130px;
  padding: 10px;
  text-align: center;
}
.view-task.layout-result .task-item .controls .control.users .user-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.view-task.layout-result .task-item .controls .control.users .user-list ul li {
  margin-bottom: 10px;
}
.view-task.layout-result .task-item .records {
  margin: 20px 0 100px 0;
}
.view-task.layout-result .task-item .records .inner .slider-for .aniimated-item {
  box-shadow: 0 4px 10px 0 #3b75ff;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(300deg, #88aaff, #00c8ff);
  border-image-slice: 1;
}
.view-task.layout-result .task-item .records .inner .slider-nav .slick-slide {
  height: auto;
}
.view-task.layout-result .task-item .records .inner .slider-nav .slick-slide img {
  box-shadow: 0 2px 10px 0 #3b75ff;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(307deg, #88aaff, #00c8ff);
  border-image-slice: 1;
}
.view-task.layout-result .task-item .records .inner .slider-nav .slick-list {
  margin-top: 20px;
}
.view-task.layout-result .task-item .records .inner .slider-nav .slick-prev:before {
  color: #3b75ff;
  content: "\e628";
  font: normal normal normal 20px/1 pages-icon;
  padding: 5px;
  border: solid 1px #3b75ff;
  border-radius: 100%;
}
.view-task.layout-result .task-item .records .inner .slider-nav .slick-next:before {
  color: #3b75ff;
  content: "\e62a";
  font: normal normal normal 20px/1 pages-icon;
  padding: 5px;
  border: solid 1px #3b75ff;
  border-radius: 100%;
}
.view-task.layout-result .task-item .comment-card {
  padding: 20px;
  border-radius: 2px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(285deg, #88aaff, #00c8ff);
  border-image-slice: 1;
  box-shadow: 0 2px 10px 0 #3b75ff;
}
.view-task.layout-result .task-item .comment-card .comments textarea {
  height: 100px;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(277deg, #88aaff, #00c8ff);
  border-image-slice: 1;
}
.view-task.layout-result .task-item .task-footer {
  text-align: center;
  margin-top: 50px;
}
.view-task.layout-result .task-item .task-footer .info {
  font-size: 14px;
  color: #4a4a4a;
  margin-bottom: 10px;
}
.view-task.layout-result .task-item .task-footer button {
  width: 120px;
  height: 53px;
  color: #fff;
  border: none;
  font-size: 16px;
  letter-spacing: 1.8px;
  opacity: 0.8;
  box-shadow: none;
  border-radius: 4px;
  background-image: linear-gradient(294deg, #88aaff, rgba(0, 199, 255, 0.82));
}
.header {
  background-image: linear-gradient(93deg, #1c3d46, #1a2133);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  height: 80px;
  padding-right: 30px;
}
.header > .header-inner {
  display: inline-block;
  width: 90%;
  height: auto;
}
.header > .pull-right {
  margin-top: 8px;
}
.header > .pull-right .header-inner a {
  color: #4ad1ff;
  font-size: 24px;
}
.header .brand {
  width: auto;
  padding: 0 15px;
  padding-left: 0;
  margin-bottom: 8px;
}
.search-link {
  border-radius: 4px;
  border: 1px solid #4ad1ff;
  margin: 15px 0 15px 60px;
  padding: 0 20px;
  width: 86%;
}
.search-link input {
  border: none;
  line-height: 22px;
  padding: 14px 0;
  width: 90%;
  background-color: transparent;
  font-size: 16px;
}
.search-link input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #4ad1ff;
}
.search-link input::-moz-placeholder {
  /* Firefox 19+ */
  color: #4ad1ff;
}
.search-link input:-ms-input-placeholder {
  /* IE 10+ */
  color: #4ad1ff;
}
.search-link input:-moz-placeholder {
  /* Firefox 18- */
  color: #4ad1ff;
}
.search-link i {
  color: #4ad1ff;
  font-size: 22px;
}
.layout-home .thumbnail-wrapper img {
  border-image-source: linear-gradient(317deg, #88aaff, rgba(0, 199, 255, 0.82));
  border-image-slice: 1;
}
.layout-home .establish-user {
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
}
.layout-test .header {
  display: none;
}
.layout-test .page-container .page-content-wrapper .content {
  padding-top: 0;
}
.layout-test .browser-navigation {
  background-color: #fff;
  width: 100%;
}
.layout-test .task-intro {
  position: absolute;
  text-align: center;
  padding: 15% 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all .3s;
  z-index: 2;
}
.layout-test .task-intro:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.layout-test .task-intro h3,
.layout-test .task-intro p {
  position: relative;
  z-index: 2;
}
.layout-test .task-intro.start-test {
  opacity: 0;
  z-index: -1;
}
.layout-test .task-intro.start-test:before {
  content: none;
}
.layout-test .feedback-row {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.layout-test .feedback-text-content {
  display: none;
  bottom: 30px;
  left: 0;
  position: absolute;
}
.layout-test .feedback-text-content ul {
  padding-left: 0;
  list-style: none;
}
.layout-test .emoji {
  display: inline-block;
}
.layout-test .emoji label {
  opacity: .5;
  cursor: pointer;
  font-size: 20px;
  margin: 5px;
}
.layout-test .emoji label i:hover {
  opacity: 1;
}
.layout-test .emoji input {
  display: none;
}
.layout-test .emoji input:checked + label {
  opacity: 1;
}
.layout-test .emoji.with-dropdown:hover .feedback-text-content {
  display: inline-block;
}
<<<<<<< HEAD
=======
.layout-test .bottom-footer {
  background-image: linear-gradient(91deg, #1c3d46, #1a2133);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 28px;
}
.triangle-button {
  display: inline-block;
}
.triangle-button img {
  height: 52px;
}
>>>>>>> staging
.layout-result .sidebar {
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  width: 84px;
  background-color: #ffffff;
  box-shadow: 0 2px 20px 0 rgba(69, 173, 202, 0.4);
  padding-top: 100px;
}
.layout-result .sidebar ul {
  margin-top: 30px;
  list-style: none;
  padding-left: 0;
}
.layout-result .sidebar li {
  text-align: center;
  padding: 10px 0;
}
.layout-result .sidebar li:hover:after {
  display: none;
}
.layout-result .sidebar li.active:after {
  display: none;
}
.layout-result .sidebar li.active i {
  color: #4ad1ff;
}
.layout-result .sidebar li i {
  font-size: 24px;
  color: #9b9b9b;
}
.layout-result .browser-navigation {
  background-color: #fff;
  width: 100%;
}
.layout-result .breadcrumb {
  margin-left: 84px;
}
.layout-result .task-intro {
  position: absolute;
  text-align: center;
  padding: 15% 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all .3s;
  z-index: 2;
}
.layout-result .task-intro:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.layout-result .task-intro h3,
.layout-result .task-intro p {
  position: relative;
  z-index: 2;
}
.layout-result .task-intro.start-test {
  opacity: 0;
  z-index: -1;
}
.layout-result .task-intro.start-test:before {
  content: none;
}
.layout-result .feedback-row {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.layout-result .feedback-text-content {
  display: none;
  bottom: 30px;
  left: 0;
  position: absolute;
}
.layout-result .feedback-text-content ul {
  padding-left: 0;
  list-style: none;
}
.layout-result .emoji {
  display: inline-block;
}
.layout-result .emoji label {
  opacity: .5;
  cursor: pointer;
  font-size: 20px;
  margin: 5px;
}
.layout-result .emoji label i:hover {
  opacity: 1;
}
.layout-result .emoji input {
  display: none;
}
.layout-result .emoji input:checked + label {
  opacity: 1;
}
.layout-result .emoji.with-dropdown:hover .feedback-text-content {
  display: inline-block;
}
#test-area {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
