.btn {
  border-radius: 4px;
  border: 2px solid #45adca;
  height: 52px;
  line-height: 52px;
  min-width: 120px;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
}
.btn-default {
  color: #45adca;
  background-color: transparent;
}
.btn-complete {
  background-image: linear-gradient(294deg, #88aaff, rgba(0, 199, 255, 0.82)) !important;
  opacity: .8;
}
.btn-complete:hover {
  opacity: 1;
}
.add-favorite {
  display: inline-block;
  z-index: 100;
  position: absolute;
  border: none;
  right: 25px;
  top: 10px;
  cursor: pointer;
}
.add-favorite svg {
  fill: rgba(0, 0, 0, 0.2);
  stroke: #fff;
}
.add-favorite.add-success svg {
  fill: #ed6639;
  stroke: #ed6639;
}
.add-emotion {
  display: inline-block;
  z-index: 100;
  position: absolute;
  border: none;
  right: 15px;
  bottom: 10px;
  cursor: pointer;
}
.card-layout {
  cursor: pointer;
  display: block;
  height: 360px;
  position: relative;
}
.card-thumbnail {
  position: relative;
}
.card-thumbnail .project-intro {
  display: none;
}
.card-thumbnail:hover:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
}
.card-thumbnail:hover .project-intro {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.card-thumbnail:hover .project-intro .project-title {
  position: absolute;
  bottom: 0;
  right: 0;
}
.card-thumbnail img {
  width: 100%;
}
.card-info {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.card-info .star-score {
  right: 0;
}
.class .card-content {
  min-height: 140px;
}
.card-content {
  position: relative;
  color: #3b4752;
}
.swiper-container {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 100px;
}
.swiper-slide {
  width: 10%;
  height: 50px;
}
.swiper-wrapper {
  overflow: hidden;
}
.layout-test .header {
  display: none;
}
.layout-test .page-container .page-content-wrapper .content {
  padding-top: 0;
}
.layout-test .browser-navigation {
  background-color: #fff;
  width: 100%;
  height: 80px;
  padding: 0 60px;
  background-image: linear-gradient(93deg, #1c3d46, #1a2133);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.layout-test .browser-navigation a {
  margin-top: 14px;
}
.layout-test .task-intro {
  position: absolute;
  text-align: center;
  padding: 15% 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all .3s;
  z-index: 2;
}
.layout-test .task-intro:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.layout-test .task-intro h2,
.layout-test .task-intro h4 {
  position: relative;
  z-index: 2;
}
.layout-test .task-intro.start-test {
  opacity: 0;
  z-index: -1;
}
.layout-test .task-intro.start-test:before {
  content: none;
}
.layout-test .feedback-row {
  position: absolute;
  bottom: 45px;
  left: 30px;
}
.layout-test .feedback-text-content {
  display: none;
  bottom: 30px;
  left: 0;
  position: absolute;
}
.layout-test .feedback-text-content ul {
  padding-left: 0;
  list-style: none;
}
.layout-test .emoji {
  display: inline-block;
  vertical-align: bottom;
}
.layout-test .emoji label {
  opacity: .5;
  cursor: pointer;
  font-size: 20px;
  margin: 5px;
}
.layout-test .emoji label:hover {
  opacity: 1;
}
.layout-test .emoji label img {
  height: 36px;
}
.layout-test .emoji input {
  display: none;
}
.layout-test .emoji input:checked + label {
  opacity: 1;
}
.layout-test .emoji.with-dropdown:hover .feedback-text-content {
  display: inline-block;
}
.layout-test .bottom-footer {
  background-image: linear-gradient(91deg, #1c3d46, #1a2133);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 28px;
  position: absolute;
  bottom: 0;
}
