.add-favorite {
	display  : inline-block;
	z-index  : 100;
	position : absolute;
	border   : none;
	right    : 25px;
	top      : 10px;
	cursor   : pointer;
}

.card-layout {
	cursor           : pointer;
	display          : block;
}

.card-thumbnail {
	position : relative;

	img {
		width :100%;
	}
}

.float {
	box-shadow    : 5px 5px 25px 0 rgba(98, 108, 117, 0.2);
	border-radius : 4px;
	overflow      : hidden;
	transition    : all .2s !important;
}

.class .card-content {
	min-height: 140px;
}

.card-content {
	position: relative;
	color: #3b4752;
}